/* styles.css */
.custom-title {
  color: #2C3E50 !important;
  font-size: 42px;
  font-weight: bold;
}

.subtitle, .author, .date {
  text-decoration: none;
}

body {
    font-size: 12pt;
}

blockquote {
    font-size: 10pt;
    color: #555;
    border-left: 4px solid #ccc;
    padding-left: 10px;
    margin-left: 0;
}

h1 {
  color: #2C3E50 !important;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h3 {
  text-decoration: underline;
}

h4 {
  text-decoration: underline;
}